.# Ignore everything
*
# We need to recurse into sub directories, don't ignore!
!*/
# We need to ignore everything inside subfolders
*/*/
# But don't ignore these files
!.gitignore
!Setup.hs
!default.nix
!external.nix
!default.nix
!Makefile
!README.md
!cabal.project
!genetic-algorithm.cabal
!LICENSE
!CHANGELOG.md
!/src/**
